'use strict';

module.exports = appInfo => {
  const config = exports = {};



  // use for cookie sign key, should change to your own and keep security
  config.keys = appInfo.name + 'your keys';

  // add your config here
  config.middleware = [];

  config.security = {
    csrf: {
      enable: false,
      ignoreJSON: true,
    },
  };

  config.sequelize = {
    dialect: 'mysql', // support: mysql, mariadb, postgres, mssql
    database: 'your database',
    host: 'your host',
    port: 'your port',
    username: 'your username',
    password: 'your password',
    dialectOptions: {
      charset: 'utf8mb4',
      supportBigNumbers: true,
      bigNumberStrings: true,
    },
    timezone: '+08:00',
    // delegate: 'myModel', // load all models to `app[delegate]` and `ctx[delegate]`, default to `model`
    // baseDir: 'my_model', // load all files in `app/${baseDir}` as models, default to `model`
    // exclude: 'index.js', // ignore `app/${baseDir}/index.js` when load models, support glob and array
    // more sequelize options
  };

  // qiniu config
  config.qiniu = {
    prefix: '',
    AccessKey: '',
    SecretKey: '',
    bucketName: ''
  };

  return config;
};
